/*  your css code here. If applicable */
.wrapper {
  border: 2px solid #000;
  padding: 40px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
}

#verification_heading {
  margin-bottom: 10px;
}

#verification_subtext {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
}
.code-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.code {
  width: 60px;
  height: 70px;
  font-size: 32px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.code:focus {
  outline: none;
  border-color: #000;
}
.info {
  background: #eee;
  padding: 10px;
  font-size: 12px;
  color: #777;
  border-radius: 5px;
}
